![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 1

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

In [4]:
!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\013590702275\appdata\local\programs\python\python39\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\013590702275\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\013590702275\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\013590702275\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\013590702275\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

#### Passo 1. Importando os dados

Carregue os dados salvos no arquivo ***datasets/users_dataset.csv***.\
Esse arquivo possui um conjunto de dados de trabalhadores com 5 colunas separadas pelo símbolo "|" (pipe) e 943 linhas.

Dica: não se esqueça do argumento *sep* quando importar os dados.

In [5]:
users = pd.read_csv('datasets/users_dataset.csv', sep=('|'))
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

#### Passo 2. Mostre as 15 primeiras linhas do dataset.

*Dica: utilize a função head do DataFrame*

In [9]:
# Seu código
print(f"As 15 primeiras linhas do quadro de usuários são:\n{users.head(15)}")

As 15 primeiras linhas do quadro de usuários é:
    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301

#### Passo 3. Mostre as 10 últimas linhas do dataset

In [8]:
# Seu código
print(f"As últimas 10 linhas do quadro de usuários são:\n{users.tail(10)}")

As últimas 10 linhas do quadro de usuários é:
     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

#### Passo 4. Qual o número de linhas e colunas do DataFrame?

In [14]:
# Seu código
print(f'O quadro de usuários possui {users.shape[0]} linhas e {users.shape[1]} colunas.')

O quadro de usuários possui 943 linhas e 5 colunas.

#### Passo 5. Mostre o nome de todas as colunas.

In [35]:
# Seu código
print(f'Os nomes das colunas do quadro de usuários são:\n{users.columns.values}.')

Os nomes das colunas do quadro de usuários são:
['user_id' 'age' 'gender' 'occupation' 'zip_code'].

#### Passo 6. Qual o tipo de dado de cada columa?

In [28]:
# Seu código
print(f'O tipo de dado de cada coluna é:\n{users.dtypes}')

O tipo de dado de cada coluna é:
user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

#### Passo 7. Mostre os dados da coluna *occupation*.

In [33]:
# Seu código
print(f'Os dados da coluna \"occupation\" são:\n{users["occupation"]}')

Os dados da coluna 'occupation' são:
0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

#### Passo 8. Quantas ocupações diferentes existem neste dataset?

In [36]:
# Seu código
users.count()

user_id       943
age           943
gender        943
occupation    943
zip_code      943
dtype: int64

#### Passo 9. Qual a ocupação mais frequente?

In [15]:
# Seu código
ocupacao = users['occupation']
ocupacao_mais_frequente = sorted(ocupacao, key=len, reverse=True)
ocupacao_mais_frequente

['administrator',
 'administrator',
 'entertainment',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'entertainment',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'administrator',
 'entertainment',
 'administrator',
 'entertainment',
 'administrator',
 'technician',
 'technician',
 'programmer',
 'programmer',
 'technician',
 'programmer',
 'programmer',
 'programmer',
 'programmer',
 'healthcare',
 'technician',
 'programmer',
 'programmer',
 'programmer',
 'healthcare',
 'programmer',
 'programmer',
 'programmer',
 'technician',
 'programmer',
 'programmer',
 'healthcare',
 'healthcare',
 'programmer',
 'programmer',
 'technician',
 'programmer',
 'programmer',
 'programmer',
 'programmer',
 'technician',
 'programmer',
 'programmer',
 'programmer',
 'programmer',
 'programmer',
 'technician',
 'programmer',
 'programmer',
 'technician',
 'programmer',
 'technician',
 'programmer',
 'programmer',
 'programmer',
 'healthcare',
 'programmer',
 'healthcare',
 'programmer',
 'programmer',
 'technician',
 'technician',
 'technician',
 'healthcare',
 'programmer',
 'programmer',
 'technician',
 'programmer',
 'programmer',
 'programmer',
 'healthcare',
 'technician',
 'programmer',
 'programmer',
 'programmer',
 'programmer',
 'programmer',
 'healthcare',
 'programmer',
 'programmer',
 'healthcare',
 'programmer',
 'programmer',
 'healthcare',
 'programmer',
 'programmer',
 'technician',
 'programmer',
 'programmer',
 'programmer',
 'healthcare',
 'healthcare',
 'programmer',
 'programmer',
 'technician',
 'technician',
 'technician',
 'healthcare',
 'programmer',
 'technician',
 'technician',
 'programmer',
 'programmer',
 'programmer',
 'technician',
 'programmer',
 'programmer',
 'programmer',
 'healthcare',
 'technician',
 'programmer',
 'technician',
 'technician',
 'programmer',
 'programmer',
 'technician',
 'healthcare',
 'programmer',
 'technician',
 'executive',
 'scientist',
 'librarian',
 'homemaker',
 'librarian',
 'homemaker',
 'scientist',
 'librarian',
 'marketing',
 'marketing',
 'executive',
 'librarian',
 'marketing',
 'scientist',
 'scientist',
 'executive',
 'librarian',
 'marketing',
 'executive',
 'executive',
 'executive',
 'scientist',
 'executive',
 'librarian',
 'marketing',
 'marketing',
 'librarian',
 'marketing',
 'marketing',
 'scientist',
 'scientist',
 'executive',
 'scientist',
 'librarian',
 'librarian',
 'executive',
 'scientist',
 'librarian',
 'marketing',
 'executive',
 'librarian',
 'librarian',
 'executive',
 'librarian',
 'librarian',
 'scientist',
 'executive',
 'librarian',
 'executive',
 'librarian',
 'scientist',
 'librarian',
 'librarian',
 'executive',
 'marketing',
 'executive',
 'scientist',
 'marketing',
 'librarian',
 'executive',
 'scientist',
 'librarian',
 'librarian',
 'librarian',
 'scientist',
 'librarian',
 'homemaker',
 'executive',
 'homemaker',
 'executive',
 'marketing',
 'scientist',
 'marketing',
 'librarian',
 'executive',
 'scientist',
 'marketing',
 'marketing',
 'librarian',
 'marketing',
 'librarian',
 'librarian',
 'scientist',
 'scientist',
 'executive',
 'scientist',
 'scientist',
 'executive',
 'librarian',
 'marketing',
 'executive',
 'librarian',
 'librarian',
 'marketing',
 'librarian',
 'marketing',
 'scientist',
 'scientist',
 'librarian',
 'scientist',
 'executive',
 'librarian',
 'librarian',
 'marketing',
 'librarian',
 'librarian',
 'librarian',
 'librarian',
 'librarian',
 'homemaker',
 'homemaker',
 'executive',
 'executive',
 'executive',
 'scientist',
 'marketing',
 'librarian',
 'scientist',
 'executive',
 'executive',
 'librarian',
 'marketing',
 'marketing',
 'marketing',
 'librarian',
 'librarian',
 'librarian',
 'executive',
 'librarian',
 'librarian',
 'marketing',
 'executive',
 'scientist',
 'executive',
 'scientist',
 'marketing',
 'librarian',
 'scientist',
 'librarian',
 'homemaker',
 'executive',
 'librarian',
 'librarian',
 'scientist',
 'scientist',
 'scientist',
 'librarian',
 'educator',
 'educator',
 'engineer',
 'engineer',
 'engineer',
 'educator',
 'educator',
 'engineer',
 'educator',
 'educator',
 'engineer',
 'engineer',
 'educator',
 'educator',
 'engineer',
 'educator',
 'engineer',
 'salesman',
 'engineer',
 'engineer',
 'educator',
 'engineer',
 'educator',
 'educator',
 'engineer',
 'educator',
 'educator',
 'educator',
 'educator',
 'educator',
 'educator',
 'engineer',
 'educator',
 'engineer',
 'salesman',
 'educator',
 'engineer',
 'educator',
 'engineer',
 'educator',
 'educator',
 'educator',
 'educator',
 'engineer',
 'engineer',
 'educator',
 'engineer',
 'engineer',
 'engineer',
 'engineer',
 'salesman',
 'engineer',
 'educator',
 'educator',
 'educator',
 'educator',
 'educator',
 'educator',
 'educator',
 'educator',
 'salesman',
 'engineer',
 'engineer',
 'educator',
 'educator',
 'engineer',
 'engineer',
 'engineer',
 'engineer',
 'salesman',
 'engineer',
 'engineer',
 'educator',
 'engineer',
 'educator',
 'educator',
 'educator',
 'educator',
 'educator',
 'educator',
 'engineer',
 'salesman',
 'educator',
 'educator',
 'salesman',
 'engineer',
 'engineer',
 'educator',
 'educator',
 'educator',
 'educator',
 'engineer',
 'educator',
 'engineer',
 'engineer',
 'engineer',
 'educator',
 'engineer',
 'salesman',
 'educator',
 'engineer',
 'engineer',
 'engineer',
 'educator',
 'educator',
 'educator',
 'educator',
 'engineer',
 'educator',
 'educator',
 'educator',
 'educator',
 'educator',
 'educator',
 'engineer',
 'educator',
 'educator',
 'educator',
 'educator',
 'engineer',
 'educator',
 'educator',
 'educator',
 'educator',
 'engineer',
 'engineer',
 'educator',
 'engineer',
 'educator',
 'engineer',
 'engineer',
 'educator',
 'educator',
 'engineer',
 'educator',
 'educator',
 'educator',
 'salesman',
 'educator',
 'engineer',
 'educator',
 'engineer',
 'educator',
 'educator',
 'engineer',
 'salesman',
 'educator',
 'educator',
 'engineer',
 'engineer',
 'engineer',
 'educator',
 'educator',
 'educator',
 'salesman',
 'educator',
 'engineer',
 'engineer',
 'engineer',
 'engineer',
 'engineer',
 'educator',
 'educator',
 'engineer',
 'engineer',
 'educator',
 'educator',
 'educator',
 'engineer',
 'salesman',
 'educator',
 'educator',
 'engineer',
 'educator',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'retired',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'retired',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'retired',
 'student',
 'retired',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'retired',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'retired',
 'retired',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'retired',
 'student',
 'student',
 'retired',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'retired',
 'student',
 'student',
 'retired',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'retired',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'retired',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'retired',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'student',
 'writer',
 'lawyer',
 'writer',
 'writer',
 'artist',
 'artist',
 'writer',
 'artist',
 'writer',
 'artist',
 'artist',
 'writer',
 'artist',
 'lawyer',
 'lawyer',
 'doctor',
 'artist',
 'artist',
 'lawyer',
 'artist',
 'artist',
 'writer',
 'writer',
 'writer',
 'lawyer',
 'writer',
 'artist',
 'doctor',
 'artist',
 'writer',
 'writer',
 'doctor',
 'lawyer',
 'lawyer',
 'writer',
 'artist',
 'writer',
 'writer',
 'writer',
 'writer',
 'artist',
 'lawyer',
 'doctor',
 'artist',
 'lawyer',
 'writer',
 'writer',
 'artist',
 'writer',
 'writer',
 'writer',
 'writer',
 'writer',
 'writer',
 'writer',
 'writer',
 'writer',
 'artist',
 'lawyer',
 'artist',
 'artist',
 'writer',
 'writer',
 'writer',
 'lawyer',
 'writer',
 'writer',
 'writer',
 'writer',
 'writer',
 'artist',
 'writer',
 'writer',
 'writer',
 'artist',
 'artist',
 'writer',
 'writer',
 'artist',
 'artist',
 'artist',
 'doctor',
 'writer',
 'doctor',
 'lawyer',
 'writer',
 'artist',
 'writer',
 'artist',
 'writer',
 'artist',
 'doctor',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'other',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none']

#### Passo 10. Qual a idade média dos usuários?

In [7]:
# Seu código
print(f'A idade média dos usuários é de {users["age"].mean()} anos.')

A idade média dos usuários é de 34.05196182396607 anos.

#### Passo 11. Utilize o método describe() para obter diversas informações a respeito do DataFrame.

In [24]:
# Seu código
users.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

**Parabéns! Você chegou ao fim!**